@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Bold Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFBoldRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Semi Bold Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFDemiBoldRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFDemiBoldRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Italic';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFExtraBoldItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Heavy Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFHeavyRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFHeavyRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Heavy Italic';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFHeavyItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Semi Bold Italic';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFDemiBoldItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFDemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFExtraBoldRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFExtraBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Italic Bold';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFBoldItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Italic Light';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFLightItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Medium Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFMediumRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Light Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFLightRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Thin Italic';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFThinItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Thin Regular';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFThinRegular.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFThinRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF Italic Normal';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Visby CF';
    src: url('../fonts/FONTSPRINGDEMO-VisbyCFMediumItalic.woff2') format('woff2'), url('../fonts/FONTSPRINGDEMO-VisbyCFMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

// Include custom variables override bootstrap
$primary: rgb(230,
30,
55);
$secondary: rgb(10,
69,
143);
$gray: #8c94a3;
$gray-border: #d1d1d1;
$color-footer-copyright: #001a3a;
$color-footer-site-info: #001536;
$bg-color-contact-footer-menu: #002c63;
$theme-colors: ( "primary": $primary,
"gray": $gray,
"secondary": $secondary,
"gray-border": $gray-border,
"color-footer-copyright": $color-footer-copyright,
"color-footer-site-info": $color-footer-site-info,
"bg-color-contact-footer-menu": $bg-color-contact-footer-menu);
// Create your own map
$custom-color: ( "icon-background": rgb(230,
30,
55));
// Merge maps
$theme-colors: map-merge($theme-colors,
$custom-color);
// Custom .scss
// Option A; Include all of Bootstrap Framework
@import "./bootstrap/scss/bootstrap";

/***********
* Add custom style theme
************/

body,
html {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    font-family: 'FONTSPRING DEMO - Visby CF Medium Regular';
    font-weight: bold;
    font-style: normal;
}

ul,
ol {
    margin-left: 1.5rem;
    padding-left: 0;
}

.pc-5 {
    padding: 5rem;
}

a.call-to-action,
.btn-contact {
    background-color: var(--bs-primary);
    font-family: 'FONTSPRING DEMO - Visby CF Medium Regular';
    font-size: 0.8rem;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.65rem 1.8rem;
    border-radius: 5px;
}

.title-blocks {
    font-size: 3.2rem;
    font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
    color: var(--bs-secondary);
}

.top-bar {
    font-size: 0.95rem;
    &__social {
        list-style-type: none;
        display: inline-flex;
        margin-right: 5px;
        li {
            display: flex;
            align-items: center;
            .bi {
                color: var(--bs-icon-background);
                display: inline-flex;
                align-items: center;
                width: 30px;
                height: 30px;
                font-size: 1.25rem;
            }
            .bi.social {
                padding: 1.5rem 0.5rem;
                margin: 0 0.025rem;
                color: var(--bs-gray);
            }
        }
    }
    .options-menu {
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        padding-right: 1.5rem;
        max-height: 45px;
    }
    .call-us {
        padding-left: 0;
        margin-left: 0;
        margin-top: 0.5rem;
        font-family: 'FONTSPRING DEMO - Visby CF Light Regular';
        a {
            margin-left: 0.25rem;
            text-decoration: none;
        }
    }
    .finance-svailable {
        margin-top: 0.5rem;
    }
    .free-consultation {
        color: #FFF;
        background-color: var(--bs-primary);
        padding: 0.5rem 0.5rem;
        min-height: 45px;
    }
    .secondary-color {
        color: var(--bs-secondary);
        font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
    }
    .primary-color {
        color: var(--bs-primary);
    }
}

.menu-navigation {
    .menu {
        list-style-type: none;
        display: inline-flex;
        padding: 1rem;
        .menu-item {
            padding-right: 2.8rem;
            a {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 0.85rem;
                color: #8c94a3;
            }
            a:hover {
                color: var(--bs-primary);
            }
        }
        .menu-item.current-menu-item a {
            color: var(--bs-primary);
        }
        .menu-item:last-child {
            padding-right: 0;
        }
    }
}

.announcement-bar {
    background-color: #eeeeee;
    height: 50px;
    z-index: -1;
    position: relative;
    top: 85px;
}

.title-hompage-slider {
    font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
}

.btn-hompage-slider {}

.title-icon {
    font-size: 1.2rem;
    color: var(--bs-secondary);
    font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
    padding: 0.5rem 0;
}


/***********
* Add custom style recent posts
************/

.recent-post {
    border: 1px solid var(--bs-gray-border);
    max-width: 375px;
    .content {
        padding: 1rem;
        a {
            text-decoration: none;
        }
        .title-post {
            font-size: 1.2rem;
            color: var(--bs-secondary);
            font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
        }
        .excerpt-post {
            font-family: 'FONTSPRING DEMO - Visby CF Light Regular';
        }
    }
}


/***********
* Add custom style contact us
************/

.contact-us {
    background-position: center;
    background-size: cover;
    height: 680px;
    padding-top: 5rem;
    .contact-us-title {
        color: #FFFFFF;
        font-size: 3.2rem;
        font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
    }
    .contact-us-form {
        max-width: 875px;
        margin: 0 auto;
        text-align: center;
        padding-top: 5rem;
    }
    .input {
        margin: 0 0 0.95rem 0;
        input {
            height: 50px;
            padding: 0.5rem;
        }
    }
    textarea {
        padding: 0.5rem;
    }
    .btn-contact {
        background-color: var(--bs-primary);
        font-family: "FONTSPRING DEMO - Visby CF Medium Regular";
        font-size: 1rem;
        color: #FFFFFF;
        padding: 0.8rem 4rem;
        border-radius: 5px;
        border: none;
    }
}


/***********
* Add custom style footer
************/

.site-footer {
    color: #FFFFFF;
    padding: 0.5rem 0;
    .site-info {
        background-color: var(--bs-color-footer-site-info);
        h4 {
            font-size: 1.75rem;
        }
        h4.title-communities-col-one {
            font-size: 1.2rem;
            color: #FFFFFF;
            font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
        }
        #menu-communities-nav-one,
        #menu-communities-nav-two,
        #menu-primary-menu {
            list-style-type: square;
            padding-top: 2.5rem !important;
            li {
                color: #FFFFFF;
                padding: 0.5rem 0;
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    display: block;
                    font-family: 'FONTSPRING DEMO - Visby CF Light Regular';
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
        .contact-footer-col-menu {
            background-color: var(--bs-bg-color-contact-footer-menu);
            .address-contact {
                font-family: 'FONTSPRING DEMO - Visby CF Light Regular';
                margin: 0.5rem 0;
                p {
                    margin-bottom: 0;
                }
            }
            .separator-contact-info {
                width: 35%;
                margin: 0 auto;
            }
            .contact-phone {
                a {
                    text-decoration: none;
                    display: block;
                    color: #FFFFFF;
                    text-align: center;
                    font-size: 2.25rem;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .site-copyright {
        background-color: var(--bs-color-footer-copyright);
        min-height: 200px;
        .copyright-disclaimer {
            color: #FFFFFF;
            font-family: 'FONTSPRING DEMO - Visby CF Extra Bold Regular';
        }
    }
}